
* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    max-height: 1200px;
    font-family: helvetica;
}
#all{
    width: 100%;
    left: 0;
}
#navigator {
    background-color: rgba(80, 80, 80, 0.75);
    position: fixed;
    left: 0;
    top: 10px;
    width: 100%;
}

/*사이트이름*/

#logo {
    display: inline-block;
    line-height: 60px;
    padding-left: 100px;
    float: left;
    margin-top: 18px;
    list-style-type: none;

}

/*메인메뉴*/
#menu {
    /*float: right;*/
    margin-right: 100px;
    padding-bottom: 16px;
    margin-top: 30px;
   /* margin-left: 560px;*/
    font-size: 15px;
    text-decoration: none;

}


#menu li {
    list-style-type: none;
    display: inline-block;
    float: right;
    padding: 0px 0px 5px 0px;
    margin-top: 18px;
    text-transform: uppercase;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -ms-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}


#menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 5px;
    margin-top: 10px;
    text-transform: uppercase;

}

#menu a:hover {
    color: #98B6EC;
    /*    background-color: #ffffff;*/
    border-bottom: 4px solid #1c1a20;
    text-transform: uppercase;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -ms-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

.main {
    text-align: center;
    margin-top: 50px;
}

/*슬로건*/

#slogan {
    margin-left: 120px;
    margin-top: 150px;
    padding-top: 230px;
    display: inline-block;
}

#slogan_img {
    display: inline-block;
    float: right;
    margin-right: 120px;
    margin-top: 100px;
    padding-top: 100px;
}

#background {
    text-align: center;
    margin-top: 70px;
    padding-top: 150px;
}

#Primary {
    text-align: center;
    margin-top: 20px;
    padding-top: 200px;
}

#problem {
    text-align: center;
    margin-top: 20px;
    padding-top: 200px;
}

#solution {
    float: right;
    margin-right: 100px;
    margin-top: 20px;
    padding-top: 200px;
}
